In [12]:
import graphlab
import numpy as np

In [2]:
sales = graphlab.SFrame("E:\\Machine Learning\\U.W\\Regression\\kc_house_data.gl/")

This non-commercial license of GraphLab Create for academic use is assigned to lxn1021@gmail.com and will expire on November 18, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Xiaoning\AppData\Local\Temp\graphlab_server_1544987177.log.0

In [3]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [5]:
from math import log, sqrt

sales["sqft_living_sqrt"] = sales["sqft_living"].apply(sqrt)
sales["sqft_lot_sqrt"] = sales["sqft_lot"].apply(sqrt)
sales["bedrooms_square"] = sales["bedrooms"] * sales["bedrooms"]

sales["floors"] = sales["floors"].astype(float)
sales["floors_square"] = sales["floors"] * sales["floors"]

In [6]:
all_features = ['bedrooms', 'bedrooms_square',
            'bathrooms',
            'sqft_living', 'sqft_living_sqrt',
            'sqft_lot', 'sqft_lot_sqrt',
            'floors', 'floors_square',
            'waterfront', 'view', 'condition', 'grade',
            'sqft_above',
            'sqft_basement',
            'yr_built', 'yr_renovated']

In [7]:
model_all = graphlab.linear_regression.create(sales, target = "price", features = all_features, validation_set = None, l2_penalty = 0,
                                             l1_penalty = 1e10)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 17

Number of unpacked features : 17

Number of coefficients    : 18

Starting Accelerated Gradient (FISTA)

--------------------------------------------------------

+-----------+----------+-----------+--------------+--------------------+---------------+

| Iteration | Passes   | Step size | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+-----------+--------------+--------------------+---------------+

Tuning step size. First iteration could take longer than subsequent iterations.

| 1         | 2        | 0.000002  | 1.396080     | 6962915.603493     | 426631.749026 |

| 2         | 3        | 0.000002  | 1.420082     | 6843144.200219     | 392488.929838 |

| 3         | 4        | 0.000002  | 1.449083     | 6831900.032123     | 385340.166783 |

| 4         | 5        | 0.000002  | 1.478085     | 6847166.848958     | 384842.383767 |

| 5         | 6        | 0.000002  | 1.519087     | 6869667.895833     | 385998.458623 |

| 6         | 7        | 0.000002  | 1.559090     | 6847177.773672     | 380824.455891 |

+-----------+----------+-----------+--------------+--------------------+---------------+

TERMINATED: Iteration limit reached.

This model may not be optimal. To improve it, consider increasing `max_iterations`.

1. Question 1
We learn weights on the entire house dataset, using an L1 penalty of 1e10 (or 5e2, if using scikit-learn). Some features are transformations of inputs; see the reading.

Which of the following features have been chosen by LASSO, i.e. which features were assigned nonzero weights? (Choose all that apply)

In [9]:
model_all.get("coefficients").print_rows(num_rows = len(all_features) + 1)

+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None |  274873.05595 |  None  |
|     bedrooms     |  None |      0.0      |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 8468.53108691 |  None  |
|   sqft_living    |  None | 24.4207209824 |  None  |
| sqft_living_sqrt |  None | 350.060553386 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 842.068034898 |  None  |
|    sqft_above    |  None | 20.0247224171 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

In [10]:
(training_and_validation, testing) = sales.random_split(0.9, seed = 1)
(training, validation) = training_and_validation.random_split(0.5, seed = 1)

2. Question 2
We split the house sales dataset into training set, test set, and validation set and choose the l1_penalty that minimizes the error on the validation set.

In which of the following ranges does the best l1_penalty fall?

In [17]:
l1_penalty_list = np.logspace(1, 7, num = 13)

rss_array = np.zeros(len(l1_penalty_list))
for i in range(len(l1_penalty_list)):
    l1_penalty = l1_penalty_list[i]
    model_l1 = graphlab.linear_regression.create(training, target = "price", features = all_features, l1_penalty = l1_penalty,
                                                l2_penalty = 0, validation_set = None, verbose = False)
    
    rss_l1 = ((model_l1.predict(validation) - validation["price"]) ** 2).sum()
    rss_array[i] = rss_l1
    
    print (l1_penalty, rss_l1)

(10.0, 625766285142459.9)
(31.622776601683793, 625766285362394.1)
(100.0, 625766286057885.0)
(316.2277660168379, 625766288257224.6)
(1000.0, 625766295212186.8)
(3162.2776601683795, 625766317206080.5)
(10000.0, 625766386760658.1)
(31622.776601683792, 625766606749278.5)
(100000.0, 625767302791634.1)
(316227.7660168379, 625769507643886.2)
(1000000.0, 625776517727024.0)
(3162277.660168379, 625799062845467.0)
(10000000.0, 625883719085425.2)

In [18]:
min(rss_array)

625766285142459.9

In [19]:
model_l1 = graphlab.linear_regression.create(training, target = "price", features = all_features, l1_penalty = 10,
                                            l2_penalty = 0, validation_set = None, verbose = False)

In [22]:
model_l1.get("coefficients").print_rows(num_rows = len(all_features) + 1)

+------------------+-------+------------------+--------+
|       name       | index |      value       | stderr |
+------------------+-------+------------------+--------+
|   (intercept)    |  None |  18993.4272128   |  None  |
|     bedrooms     |  None |  7936.96767903   |  None  |
| bedrooms_square  |  None |  936.993368193   |  None  |
|    bathrooms     |  None |  25409.5889341   |  None  |
|   sqft_living    |  None |  39.1151363797   |  None  |
| sqft_living_sqrt |  None |  1124.65021281   |  None  |
|     sqft_lot     |  None | 0.00348361822299 |  None  |
|  sqft_lot_sqrt   |  None |  148.258391011   |  None  |
|      floors      |  None |   21204.335467   |  None  |
|  floors_square   |  None |  12915.5243361   |  None  |
|    waterfront    |  None |  601905.594545   |  None  |
|       view       |  None |  93312.8573119   |  None  |
|    condition     |  None |  6609.03571245   |  None  |
|      grade       |  None |  6206.93999188   |  None  |
|    sqft_above    |  None |  43.2870534193   |  None  |
|  sqft_basement   |  None |  122.367827534   |  None  |
|     yr_built     |  None |  9.43363539372   |  None  |
|   yr_renovated   |  None |  56.0720034488   |  None  |
+------------------+-------+------------------+--------+
[18 rows x 4 columns]

In [23]:
max_nonzeros = 7

In [40]:
l1_penalty_values = np.logspace(8, 10, num = 20)
weights_nonzeros = np.zeros(len(l1_penalty_values))

for i in range(len(l1_penalty_values)):
    l1_penalty = l1_penalty_values[i]
    model = graphlab.linear_regression.create(training, target = "price", features = all_features, l1_penalty = l1_penalty,
                                             l2_penalty = 0, validation_set = None, verbose = False)
    
    weights_nonzeros[i] = model["coefficients"]["value"].nnz()

In [41]:
print weights_nonzeros, l1_penalty_values

[18. 18. 18. 18. 17. 17. 17. 17. 17. 16. 15. 15. 13. 12. 10.  6.  5.  3.
  1.  1.] [1.00000000e+08 1.27427499e+08 1.62377674e+08 2.06913808e+08
 2.63665090e+08 3.35981829e+08 4.28133240e+08 5.45559478e+08
 6.95192796e+08 8.85866790e+08 1.12883789e+09 1.43844989e+09
 1.83298071e+09 2.33572147e+09 2.97635144e+09 3.79269019e+09
 4.83293024e+09 6.15848211e+09 7.84759970e+09 1.00000000e+10]

4. Question 4
We explore a wide range of l1_penalty values to find a narrow region of l1_penaty values where models are likely to have the desired number of non-zero weights (max_nonzeros=7).

What value did you find for l1_penalty_min?

In [42]:
l1_penalty_min = 2.97635144e+09
l1_penalty_max = 3.79269019e+09

5. Question 5
We then explore the narrow range of l1_penalty values between l1_penalty_min and l1_penalty_max.

What value of l1_penalty in our narrow range has the lowest RSS on the VALIDATION set and has sparsity equal to max_nonzeros?

In [43]:
l1_penalty_values = np.linspace(l1_penalty_min, l1_penalty_max, 20)

for i in range(len(l1_penalty_values)):
    l1_penalty = l1_penalty_values[i]
    
    model = graphlab.linear_regression.create(training, target = "price", features = all_features, l1_penalty = l1_penalty, 
                                             l2_penalty = 0, validation_set = None, verbose = False)
    rss = ((model.predict(validation) - validation["price"]) ** 2).sum()
    sparsity = model["coefficients"]["value"].nnz()
    
    print (rss, sparsity, l1_penalty)

(966925692362084.5, 10, 2976351440.0)
(974019450084556.1, 10, 3019316637.368421)
(981188367942452.8, 10, 3062281834.736842)
(989328342459474.0, 10, 3105247032.105263)
(998783211265891.2, 10, 3148212229.4736843)
(1008477167020094.0, 10, 3191177426.8421054)
(1018298780553819.8, 10, 3234142624.2105265)
(1028247992205977.2, 10, 3277107821.5789475)
(1034616909232828.1, 8, 3320073018.9473686)
(1038554735941040.8, 8, 3363038216.3157897)
(1043237237871703.0, 8, 3406003413.684211)
(1046937488751711.1, 7, 3448968611.0526314)
(1051147625612860.9, 7, 3491933808.421053)
(1055992735342999.1, 7, 3534899005.7894735)
(1060799531763287.8, 7, 3577864203.1578946)
(1065707689498230.1, 6, 3620829400.5263157)
(1069464335425586.5, 6, 3663794597.894737)
(1073504549585599.6, 6, 3706759795.263158)
(1077632775581416.0, 6, 3749724992.631579)
(1081867592324110.6, 6, 3792690190.0)

6. Question 6
Consider the model learned with the l1_penalty found in the previous question. Which of the following features has non-zero coefficients? (Choose all that apply)

In [44]:
model = graphlab.linear_regression.create(training, target = "price", features = all_features, l1_penalty = 3448968611.0526314,
                                             l2_penalty = 0, validation_set = None, verbose = False)

In [47]:
model.get("coefficients").print_rows(num_rows = 18)

+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None | 222253.192544 |  None  |
|     bedrooms     |  None | 661.722717782 |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 15873.9572593 |  None  |
|   sqft_living    |  None | 32.4102214513 |  None  |
| sqft_living_sqrt |  None | 690.114773313 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 2899.42026975 |  None  |
|    sqft_above    |  None | 30.0115753022 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]